@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

$bg-red-dark: rgb(218, 77, 58);
$bg-red-light: rgb(255, 206, 197);
$footer-color: rgb(163, 146, 146);

@mixin reset() {
  margin: 0;
  padding: 0;
}
@mixin flexDir($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin flexCenter() {
    align-items: center;
    justify-content: center;
}
@mixin fancyFont($size) {
  font-family: "Redressed", cursive;
  font-size: $size;
}
@mixin basicFont($size) {
  font-family: "DM Sans", sans-serif;
  font-size: $size;
}
@mixin buttonStyle() {
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: $bg-red-dark;
    &:hover {
      cursor: pointer;
      background-color: $bg-red-light;
    }
}
@mixin cleanLinks($color) {
  text-decoration: none;
  color: $color;
}
@mixin numberInput(){
    width: 50px;
    height: 40px;
    @include fancyFont(1.5em);
    text-align: center;
}