@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.about-us__headings {
  text-align: center;
  color: #da4d3a;
}

.about-us__section {
  padding-top: 4rem;
  width: 80%;
}

.about-us__section__image {
  width: 300px;
  padding: 2rem 2rem 0;
  margin: 2rem;
  -webkit-box-shadow: 6px 6px 8px #b4b4b4;
          box-shadow: 6px 6px 8px #b4b4b4;
}

.about-us__section__image img {
  width: 300px;
}

.about-us__section__image-caption {
  text-align: center;
  padding: 1rem 0;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.about-us__section .left {
  float: left;
  margin-right: 4rem;
}

.about-us__section .right {
  float: right;
  margin-left: 4rem;
}

.about-us__section__text {
  margin: 0;
  padding: 0;
}

.about-us__section__text p {
  text-indent: 1em;
}

.about-us__section__text p:first-letter {
  font-family: "Redressed", cursive;
  font-size: 2em;
}

@media screen and (max-width: 1300px) {
  .about-us__section {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .about-us__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us__section__image {
    margin: 0;
  }
  .about-us__section .left {
    margin: 0;
  }
  .about-us__section .right {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .about-us__section__image {
    width: 250px;
  }
  .about-us__section__image img {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .about-us__section__image {
    width: 200px;
  }
  .about-us__section__image img {
    width: 200px;
  }
}
/*# sourceMappingURL=about-us.css.map */