@import "./variables";
.about-us {
  @include flexDir(column);
  @include flexCenter();
  padding: 4rem;
  &__headings {
    text-align: center;
    color: $bg-red-dark;
  }
  &__section {
    padding-top: 4rem;
    width: 80%;
    &__image {
      width: 300px;
      padding: 2rem 2rem 0;
      margin: 2rem;
      box-shadow: 6px 6px 8px rgb(180, 180, 180);
      & img {
        width: 300px;
      }
      &-caption {
        text-align: center;
        padding: 1rem 0;
        @include fancyFont(1.5em);
      }
    }
    & .left {
      float: left;
      margin-right: 4rem;
    }
    & .right {
      float: right;
      margin-left: 4rem;
    }
    &__text {
      @include reset();
      & p {
        text-indent: 1em;
        &:first-letter {
          @include fancyFont(2em);
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .about-us__section {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .about-us__section {
    @include flexDir(column);
    @include flexCenter();
    &__image {
      margin: 0;
    }
    & .left {
      margin: 0;
    }
    & .right {
      margin: 0;
    }
  }
}
@media screen and (max-width: 550px) {
  .about-us__section__image {
    width: 250px;
    & img {
      width: 250px;
    }
  }
}
@media screen and (max-width: 400px) {
  .about-us__section__image {
    width: 200px;
    & img {
      width: 200px;
    }
  }
}
