@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.contact-us__headings {
  text-align: center;
  color: #da4d3a;
}

.contact-us form {
  padding: 2rem;
  width: 350px;
}

.contact-us form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.contact-us form > div input,
.contact-us form > div textarea {
  font-family: "Redressed", cursive;
  font-size: 1em;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
}

.contact-us form > div label {
  cursor: pointer;
}

.contact-us form button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #da4d3a;
  font-family: "Redressed", cursive;
  font-size: 1.2em;
}

.contact-us form button:hover {
  cursor: pointer;
  background-color: #ffcec5;
}

@media screen and (max-width: 600px) {
  .contact-us {
    padding: 1rem;
  }
  .contact-us form {
    width: 250px;
  }
  .contact-us form > div {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 400px) {
  .contact-us form {
    width: 180px;
  }
}
/*# sourceMappingURL=contact-us.css.map */