@import "./variables";
.contact-us {
  @include flexDir(column);
  @include flexCenter();
  padding: 4rem;
  &__headings {
    text-align: center;
    color: $bg-red-dark;
  }
  form {
    padding: 2rem;
    width: 350px;
    & > div {
      @include flexDir(column);
      @include flexCenter();
      padding-bottom: 1rem;
      @include fancyFont(1.5em);
      & input,
      textarea {
        @include fancyFont(1em);
        border-radius: 10px;
        padding: 0.5rem;
        text-align: center;
        width: 100%;
        margin-top: 0.5rem;
      }
      & label {
        cursor: pointer;
      }
    }
    & button {
      @include buttonStyle();
      @include fancyFont(1.2em);
    }
  }
}
@media screen and (max-width: 600px) {
  .contact-us {
    padding: 1rem;
    form {
      width: 250px;
      & > div {
        font-size: 1.2em;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .contact-us form {
    width: 180px;
  }
}
