@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
.faq {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq h2 {
  color: #da4d3a;
}

.faq-content {
  width: 50%;
  padding-top: 4rem;
}

.faq-content h3 {
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.faq-content__item {
  padding-bottom: 2rem;
}

.faq-content__item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-content__item > div input {
  height: 50px;
  padding-right: 2rem;
}

.faq-content__item > div label:hover {
  cursor: pointer;
}

.faq-content .active label {
  color: #da4d3a;
}

.faq-content .active input {
  height: 70px;
}

@media screen and (max-width: 1200px) {
  .faq-content {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .faq-content {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .faq-content {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .faq-content__item > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faq-content__item > div input {
    padding-bottom: 1rem;
  }
}
/*# sourceMappingURL=faq.css.map */