@import "./variables";
.faq {
  padding: 4rem;
  @include flexDir(column);
  @include flexCenter();
  & h2 {
    color: $bg-red-dark;
  }
  &-content {
    width: 50%;
    padding-top: 4rem;
    & h3 {
      @include fancyFont(1.5em);
    }
    &__item {
      padding-bottom: 2rem;
      & > div {
        @include flexDir(row);
        align-items: center;
        & input {
          height: 50px;
          padding-right: 2rem;
        }
        & label:hover {
          cursor: pointer;
        }
      }
    }
    .active {
      & label {
        color: $bg-red-dark;
      }
      & input {
        height: 70px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .faq-content {
    width: 70%;
  }
}
@media screen and (max-width: 850px) {
  .faq-content {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .faq-content {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .faq-content__item > div {
    @include flexDir(column);
    & input {
      padding-bottom: 1rem;
    }
  }
}
