// Shopping cart icon made by https://www.flaticon.com/authors/freepik" Freepik from www.flaticon.com
@import "./variables";

body {
  background-image: linear-gradient(to right, $bg-red-dark, $bg-red-light);
  margin: 4rem;
  @include basicFont(1em);
}
h1,
h2,
h3 {
  @include reset();
}
h2 {
  @include fancyFont(2em);
}
h3 {
  @include basicFont(1em);
}

.pages__wrapper {
  @include reset();
  background-color: white;
  height: 100%;
  @include flexDir(column);
}
.top-section {
  background-color: white;
  @include flexDir(row);
  padding: 2rem;
  justify-content: space-around;
  img {
    width: 80px;
  }

  &__cart {
    @include flexDir(column);
    text-align: center;
    & p {
      color: $footer-color;
    }
  }
  &__links {
    @include flexDir(row);
    @include fancyFont(2em);
    justify-content: space-around;
    flex-basis: 50%;
    align-items: center;
    & a {
      @include cleanLinks($footer-color);
    }
  }
  &__logo {
    @include flexDir(row);
    @include flexCenter();
    @include fancyFont(5em);
    flex-basis: 35%;
    align-items: center;
    text-align: center;
    & a {
      @include cleanLinks($bg-red-dark);
    }
  }
}
.header-img {
  background-color: white;
}
.cart {
  @include flexDir(column);
  @include flexCenter();
  padding-top: 3rem;
  font-size: 1.2em;
  & th {
    padding: 1rem;
    text-align: center;
    background-color: $footer-color;
  }
  & tr {
    text-align: center;
    background-image: linear-gradient(to right, $bg-red-dark, $bg-red-light);
  }
  & td {
    padding: 1rem;
  }
  & p {
    text-align: right;
  }
  & button {
    @include fancyFont(1.5em);
    @include buttonStyle();
  }
  &__check-out {
    @include flexDir(row);
    padding-right: 4rem;
    justify-content: flex-end;
    button {
      @include buttonStyle();
      @include fancyFont(2em);
    }
  }
  & .empty {
    font-size: 2em;
  }
  & input {
    @include numberInput();
  }
}
.header-img {
  img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    &:hover {
      cursor: pointer;
    }
  }
}
.main-section {
  padding: 4rem;
  @include flexDir(row);
  &__content {
    flex-basis: 90%;
  }
  .tip {
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 2rem;
    @include fancyFont(1.5em);
    div {
      animation: bgChange 3s infinite;
      padding: 1rem;
      border-radius: 10px;
    }
  }
  @keyframes bgChange {
    0% {
      background-color: $bg-red-dark;
    }
    50% {
      background-color: $bg-red-light;
    }
    100% {
      background-color: $bg-red-dark;
    }
  }
  .filter-buttons {
    @include flexDir(column);
    flex-basis: 10%;
    & button {
      @include fancyFont(1.5em);
      @include buttonStyle();
      text-transform: capitalize;
    }
    .special {
      background-color: $footer-color;
    }
  }
  .search-bar {
    @include flexDir(row);
    justify-content: flex-end;
    @include fancyFont(1.5em);
    form {
      @include flexDir(column);
    }
    label {
      text-align: center;
      padding: 1rem;
    }
    input {
      @include fancyFont(1.5em);
      width: 350px;
      padding: 0.5rem;
      border-radius: 10px;
    }
  }
  .book-list {
    @include flexDir(row);
    flex-wrap: wrap;
    padding-top: 3rem;
    justify-content: center;
    align-items: flex-start;
    .book {
      padding: 1rem;
      margin: 1rem;
      width: 15%;
      min-width: 350px;
      @include flexDir(row);
      & img {
        width: 150px;
        height: 220px;
      }
      & button {
        @include buttonStyle();
        @include fancyFont(1.5em);
      }
      & h2 a {
        text-decoration: none;
        color: black;
      }
      &__image {
        text-align: center;
      }
      &__data {
        padding-left: 1rem;
        &__price {
          text-align: right;
          color: $footer-color;
          @include fancyFont(1.5em);
        }
        &__categories {
          color: $footer-color;
        }
      }
    }
  }
}
.book-details {
  margin: 4rem;
  &__content {
    @include flexDir(row);
    @include flexCenter();
    padding: 3rem;
    & .pic img {
      width: 400px;
    }
    & .text {
      flex-basis: 40%;
      padding-left: 4rem;
      @include flexDir(column);
      & p:not(.text__categories) {
        @include reset();
        margin: 0.5rem;
      }
      & h2,
      & h3 {
        text-align: center;
      }
      & div {
        @include flexDir(row);
        justify-content: center;
      }
      & .return-button {
        @include buttonStyle;
        @include fancyFont(1.5em);
        & a {
          text-decoration: none;
          color: black;
        }
      }
      &__categories {
        color: $footer-color;
        text-align: end;
        padding: 2rem 0;
      }
    }
  }
}
.book-input {
  padding: 1rem;
  & form {
    @include flexDir(row);
    justify-content: space-evenly;
    align-items: center;
    & input {
      @include numberInput();
    }
    & button {
      @include buttonStyle();
      @include fancyFont(1.5em);
    }
  }
}
.alert {
  position: fixed;
  left: 40%;
  top: 0;
  padding: 1rem;
  border-radius: 10px;
  @include fancyFont(2em);
  animation: alertSlide 2.5s ease-in;
  background-color: rgb(163, 255, 163);
  border: 2px solid rgb(163, 255, 163);
}

@keyframes alertSlide {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}
.pagination {
  @include flexDir(row);
  justify-content: flex-end;
  button {
    width: 2em;
    @include buttonStyle();
    @include fancyFont(1.5em);
    &.active {
      background-color: $footer-color;
    }
  }
}
.footer {
  background-color: white;
  padding: 2rem;
  text-align: right;
  color: $footer-color;
}

@media screen and (max-width: 1200px) {
  .top-section {
    img {
      width: 50px;
    }
    &__links {
      @include fancyFont(1.5em);
    }
    &__logo {
      @include fancyFont(3em);
    }
  }
  .main-section {
    .search-bar {
      form {
        @include fancyFont(1.2em);
      }
      input {
        @include fancyFont(1.2em);
        width: 300px;
        padding: 0.5rem;
        border-radius: 10px;
      }
    }
  }
  .book-details {
    margin: 2rem;
    &__content {
      @include flexDir(column);
      & .text {
        padding-left: 0;
        padding-top: 4rem;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .cart th,
  .cart td {
    padding: 0.5rem;
  }
  .cart button {
    font-size: 1em;
  }
}
@media screen and (max-width: 900px) {
  .top-section__links {
    @include flexDir(column);
  }
  .book-details {
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .main-section {
    @include flexDir(column);
    .filter-buttons {
      padding-bottom: 2rem;
      width: fit-content;
      align-self: center;
    }
    .search-bar {
      justify-content: center;
      input {
        max-width: 250px;
      }
    }
  }
  .book-details {
    &__content {
      & .pic img {
        width: 200px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .alert {
    left: 35%;
  }
  .cart {
    font-size: 1em;
    & td,
    th {
      padding: 0;
    }
    & input {
      font-size: 1em;
      width: 30px;
      height: 25px;
    }
  }
}
@media screen and (max-width: 600px) {
  .top-section {
    @include flexDir(column);
    img {
      padding: 1rem 0;
    }
    &__cart {
      padding: 1rem 0;
    }
    &__links {
      padding: 1rem 0;
    }
    &__logo {
      padding: 1rem 0;
    }
  }
  .alert {
    position: fixed;
    left: 30%;
  }
}
@media screen and (max-width: 500px) {
  body {
    margin: 1rem;
  }
  .main-section {
    .book-list {
      .book {
        min-width: 250px;
        @include flexDir(column);
        &__image {
          @include flexDir(column);
          align-items: center;
        }
      }
    }
  }
  .book-details__content {
    padding: 1rem;
  }
  .alert {
    position: fixed;
    left: 25%;
  }
  .cart button {
    padding: 5px;
    margin: 5px;
  }
  .cart th {
    word-break: break-all;
  }
}
@media screen and (max-width: 400px) {
  .alert {
    position: fixed;
    left: 20%;
  }
  .cart .empty {
    font-size: 1.5em;
  }
}
