@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
body {
  background-image: -webkit-gradient(linear, left top, right top, from(#da4d3a), to(#ffcec5));
  background-image: linear-gradient(to right, #da4d3a, #ffcec5);
  margin: 4rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Redressed", cursive;
  font-size: 2em;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}

.pages__wrapper {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-section {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-section img {
  width: 80px;
}

.top-section__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.top-section__cart p {
  color: #a39292;
}

.top-section__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Redressed", cursive;
  font-size: 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-section__links a {
  text-decoration: none;
  color: #a39292;
}

.top-section__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Redressed", cursive;
  font-size: 5em;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  align-items: center;
  text-align: center;
}

.top-section__logo a {
  text-decoration: none;
  color: #da4d3a;
}

.header-img {
  background-color: white;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  font-size: 1.2em;
}

.cart th {
  padding: 1rem;
  text-align: center;
  background-color: #a39292;
}

.cart tr {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#da4d3a), to(#ffcec5));
  background-image: linear-gradient(to right, #da4d3a, #ffcec5);
}

.cart td {
  padding: 1rem;
}

.cart p {
  text-align: right;
}

.cart button {
  font-family: "Redressed", cursive;
  font-size: 1.5em;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #da4d3a;
}

.cart button:hover {
  cursor: pointer;
  background-color: #ffcec5;
}

.cart__check-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 4rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart__check-out button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #da4d3a;
  font-family: "Redressed", cursive;
  font-size: 2em;
}

.cart__check-out button:hover {
  cursor: pointer;
  background-color: #ffcec5;
}

.cart .empty {
  font-size: 2em;
}

.cart input {
  width: 50px;
  height: 40px;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
  text-align: center;
}

.header-img img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-img img:hover {
  cursor: pointer;
}

.main-section {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-section__content {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.main-section .tip {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 2rem;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.main-section .tip div {
  -webkit-animation: bgChange 3s infinite;
          animation: bgChange 3s infinite;
  padding: 1rem;
  border-radius: 10px;
}

@-webkit-keyframes bgChange {
  0% {
    background-color: #da4d3a;
  }
  50% {
    background-color: #ffcec5;
  }
  100% {
    background-color: #da4d3a;
  }
}

@keyframes bgChange {
  0% {
    background-color: #da4d3a;
  }
  50% {
    background-color: #ffcec5;
  }
  100% {
    background-color: #da4d3a;
  }
}

.main-section .filter-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.main-section .filter-buttons button {
  font-family: "Redressed", cursive;
  font-size: 1.5em;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #da4d3a;
  text-transform: capitalize;
}

.main-section .filter-buttons button:hover {
  cursor: pointer;
  background-color: #ffcec5;
}

.main-section .filter-buttons .special {
  background-color: #a39292;
}

.main-section .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.main-section .search-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section .search-bar label {
  text-align: center;
  padding: 1rem;
}

.main-section .search-bar input {
  font-family: "Redressed", cursive;
  font-size: 1.5em;
  width: 350px;
  padding: 0.5rem;
  border-radius: 10px;
}

.main-section .book-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-section .book-list .book {
  padding: 1rem;
  margin: 1rem;
  width: 15%;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-section .book-list .book img {
  width: 150px;
  height: 220px;
}

.main-section .book-list .book button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #da4d3a;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.main-section .book-list .book button:hover {
  cursor: pointer;
  background-color: #ffcec5;
}

.main-section .book-list .book h2 a {
  text-decoration: none;
  color: black;
}

.main-section .book-list .book__image {
  text-align: center;
}

.main-section .book-list .book__data {
  padding-left: 1rem;
}

.main-section .book-list .book__data__price {
  text-align: right;
  color: #a39292;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.main-section .book-list .book__data__categories {
  color: #a39292;
}

.book-details {
  margin: 4rem;
}

.book-details__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.book-details__content .pic img {
  width: 400px;
}

.book-details__content .text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book-details__content .text p:not(.text__categories) {
  margin: 0;
  padding: 0;
  margin: 0.5rem;
}

.book-details__content .text h2,
.book-details__content .text h3 {
  text-align: center;
}

.book-details__content .text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book-details__content .text .return-button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #da4d3a;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.book-details__content .text .return-button:hover {
  cursor: pointer;
  background-color: #ffcec5;
}

.book-details__content .text .return-button a {
  text-decoration: none;
  color: black;
}

.book-details__content .text__categories {
  color: #a39292;
  text-align: end;
  padding: 2rem 0;
}

.book-input {
  padding: 1rem;
}

.book-input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-input form input {
  width: 50px;
  height: 40px;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
  text-align: center;
}

.book-input form button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #da4d3a;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.book-input form button:hover {
  cursor: pointer;
  background-color: #ffcec5;
}

.alert {
  position: fixed;
  left: 40%;
  top: 0;
  padding: 1rem;
  border-radius: 10px;
  font-family: "Redressed", cursive;
  font-size: 2em;
  -webkit-animation: alertSlide 2.5s ease-in;
          animation: alertSlide 2.5s ease-in;
  background-color: #a3ffa3;
  border: 2px solid #a3ffa3;
}

@-webkit-keyframes alertSlide {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}

@keyframes alertSlide {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pagination button {
  width: 2em;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #da4d3a;
  font-family: "Redressed", cursive;
  font-size: 1.5em;
}

.pagination button:hover {
  cursor: pointer;
  background-color: #ffcec5;
}

.pagination button.active {
  background-color: #a39292;
}

.footer {
  background-color: white;
  padding: 2rem;
  text-align: right;
  color: #a39292;
}

@media screen and (max-width: 1200px) {
  .top-section img {
    width: 50px;
  }
  .top-section__links {
    font-family: "Redressed", cursive;
    font-size: 1.5em;
  }
  .top-section__logo {
    font-family: "Redressed", cursive;
    font-size: 3em;
  }
  .main-section .search-bar form {
    font-family: "Redressed", cursive;
    font-size: 1.2em;
  }
  .main-section .search-bar input {
    font-family: "Redressed", cursive;
    font-size: 1.2em;
    width: 300px;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .book-details {
    margin: 2rem;
  }
  .book-details__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .book-details__content .text {
    padding-left: 0;
    padding-top: 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .cart th,
  .cart td {
    padding: 0.5rem;
  }
  .cart button {
    font-size: 1em;
  }
}

@media screen and (max-width: 900px) {
  .top-section__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .book-details {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-section .filter-buttons {
    padding-bottom: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main-section .search-bar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-section .search-bar input {
    max-width: 250px;
  }
  .book-details__content .pic img {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .alert {
    left: 35%;
  }
  .cart {
    font-size: 1em;
  }
  .cart td,
  .cart th {
    padding: 0;
  }
  .cart input {
    font-size: 1em;
    width: 30px;
    height: 25px;
  }
}

@media screen and (max-width: 600px) {
  .top-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-section img {
    padding: 1rem 0;
  }
  .top-section__cart {
    padding: 1rem 0;
  }
  .top-section__links {
    padding: 1rem 0;
  }
  .top-section__logo {
    padding: 1rem 0;
  }
  .alert {
    position: fixed;
    left: 30%;
  }
}

@media screen and (max-width: 500px) {
  body {
    margin: 1rem;
  }
  .main-section .book-list .book {
    min-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-section .book-list .book__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .book-details__content {
    padding: 1rem;
  }
  .alert {
    position: fixed;
    left: 25%;
  }
  .cart button {
    padding: 5px;
    margin: 5px;
  }
  .cart th {
    word-break: break-all;
  }
}

@media screen and (max-width: 400px) {
  .alert {
    position: fixed;
    left: 20%;
  }
  .cart .empty {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=homepage.css.map */