@import "./variables";
.our-bookstores {
  @include flexDir(column);
  @include flexCenter();
  padding: 4rem;
  &__headings {
    text-align: center;
    color: $bg-red-dark;
    padding-bottom: 4rem;
  }
  &__places {
    @include flexDir(row);
    flex-wrap: wrap;
    @include flexCenter();
  }
}
.bookstore {
  width: 680px;
  @include flexDir(row);
  padding: 2rem;
  & div {
    @include flexDir(column);
  }
  & .bookstore-image {
    @include flexDir(row);
    @include flexCenter();
  }
  & img {
    width: 300px;
    height: 400px;
    border-radius: 50%;
  }
  &-info {
    padding-left: 2rem;
    text-align: center;
    @include flexCenter();
    & p {
      @include reset();
      font-size: 1.2em;
    }
    & > div {
      padding-top: 1rem;
    }
  }
}
@media screen and (max-width: 900px) {
  .bookstore {
    width: 500px;
    & img {
      width: 200px;
      height: 280px;
    }
  }
}
@media screen and (max-width: 700px) {
  .bookstore {
    width: auto;
    @include flexDir(column);
    &-info {
      padding-left: 0;
    }
  }
}
